# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build
# =========================
[Bb]in/
[Oo]bj/
build/
publish/

# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env
appsettings.Production.json

# =========================
# SQL
# =========================
*.bak
*.mdf
*.ldf

# =========================
# OS
# =========================
Thumbs.db
.DS_Store